<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties" />

    <bean id="thirdLevelService" class="com.example.domain.ThirdLevelService">
        <constructor-arg value="${third.level.message}" />
    </bean>

    <bean id="secondLevelService" class="com.example.domain.SecondLevelService">
        <constructor-arg ref="thirdLevelService" />
    </bean>

    <bean id="firstLevelService" class="com.example.domain.FirstLevelService">
        <constructor-arg ref="secondLevelService" />
    </bean>
</beans>
